/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 sept. 2021, 15:50:47
    Author     : alecureur
*/

#USA{
    background-color:  #a9cce3 ;
}
#GrandeBretagne{
    background-color:  #abebc6 ;
}
#Chine{
    background-color:  #fcf3cf ;
}
#Russie{
    background-color:  #ebdef0 ;
}
#Allemagne{
    background-color:  #a9cce3 ;
}
#Japon{
    background-color:  #5499c7 ;
}
#France{
    background-color:  #e8daef ;
}
#CoreeDuSud{
    background-color:  #48c9b0 ;
}
#Italie{
    background-color:  #f1948a ;
}
#Australie{
    background-color:  #c39bd3 ;
}

#OR{
    background-color:  #f4d03f ;
}
#ARGENT{
    background-color:   #bfc9ca ;
}
#BRONZE{
    background-color:   #dc7633 ;
}
