/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 sept. 2021, 14:51:14
    Author     : alecureur
*/

rayon {font-size: 25pt; font-weight: bold; color: red; display: block;}
ouvrage {font-size: 15pt; color: blue; display: block;}
types {font-size: 10pt; color: green; display: block;}